<ngcx-tree
  (customEvent)="customEvent.emit($event)"
  (clickEvent)="clickEvent.emit($event)"
  (selectEvent)="selectEvent.emit($event)"
  (nodeMoved)="nodeMoved.emit($event)"
  [nodes]="nodes"
  [config]="config"></ngcx-tree>

<ng-template #treeNodeTemplate let-nodeWrapper="nodeWrapper">
  <div class="node-container">
    <strong class="node-text">{{ nodeWrapper.data.title }}</strong>
    <i>(id:{{ nodeWrapper.id }}, next:{{ nodeWrapper.next?.id ?? 'none' }})</i>
    <button (click)="sampleClicked(nodeWrapper)">sample button</button>
  </div>
</ng-template>
