name: build Package
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: '24.13.1'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build-prod:lib
